body{
  margin:100px;
  background-color: cyan;
  background-image: url("https://c.tenor.com/2JDqYLPALTQAAAAC/cyber-hack.gif");
  background-size: cover;
  background-position: center;
  background: linear-gradient(rgba(0,0,0,0),rgb(3, 1, 34)),url("https://c.tenor.com/2JDqYLPALTQAAAAC/cyber-hack.gif");

  text-align: center;
  color: #fff;
  font-family: Georgia, "Times new Roman", serif;
  font-size: 1cm;
}

table {
  border: 1px solid;
}

article{
  height: 300px;
  width: 400px;
  font-size: 75%;
  position: center;
  background-color: rgb(19, 145, 177) ;
}

aside{
  position: center;
  height: 300px;
  width: 400px;
  font-size: 75%;
  background-color:rgb(7, 33, 182);
  }

div{
  display: flex;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #f7f5f5;
  display: block;
  font-family: Georgia, "Times new Roman", serif;
}
.sidenav a:hover {
  color: #f1f1f1;
}

header{
   height:130px;
  width: 1015px;
  margin: auto;
  font-size: 90%;
    text-shadow:2px 2px 2px  rgb(0, 132, 255);
    font-family: Georgia, "Times new Roman", serif;

 }