body{
  margin:100px ;
    width: 75% ;
 background-color: #cccccc;
background-image: url("https://videohive.img.customer.envatousercontent.com/files/244127498/BinaryCicuit_00110Grn_p.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=b2cf0e928592d69906966dcabb2fe8a5");
background-size: cover ;
background-position: center ; 
background: linear-gradient(rgba(0,0,0,0),#000),url("https://videohive.img.customer.envatousercontent.com/files/244127498/BinaryCicuit_00110Grn_p.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=b2cf0e928592d69906966dcabb2fe8a5");
background-origin: 300px ; 
text-align: center ;
color: white ;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #f7f5f5;
  display: block;
  text-align: left ;
}
.sidenav a:hover {
  color: #f1f1f1;
}

aside{
  height: 400px ;
  width: 200px ;
  text-align: right ;
  background-position: right ;
}
header{
  font-size: 500%;
  position: center ;
}
article{
  text-align: center;
  width: 100% ;
  margin-top: -250px ;
  margin-left: 240px ; 
}
content{
  display:flex;
}