body{
  margin:100px;
  background-color: #cccccc;
  background-image: url("https://videohive.img.customer.envatousercontent.com/files/244127498/BinaryCicuit_00110Grn_p.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=b2cf0e928592d69906966dcabb2fe8a5");
  background-size: cover;
  background: linear-gradient(rgba(0,0,0,0),#000),url("https://videohive.img.customer.envatousercontent.com/files/244127498/BinaryCicuit_00110Grn_p.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=b2cf0e928592d69906966dcabb2fe8a5");
  background-origin: 300px;
}

header{
  height:130px;
  width: 1015px;
  margin: auto;
  font-size: 90%;
  text-align: center;
  text-shadow:2px 2px 2px  rgb(0, 255, 42);
  font-family: Georgia, "Times new Roman", serif;
 }

.text{
  color: #fff;
  font-family: Georgia, "Times new Roman", serif;
}
article{
  height:5px;
  width: 750px;
  margin: auto;
  margin-top: 10px;
  color: white;
  background-color: #068506;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #f7f5f5;
  display: block;
}
.sidenav a:hover {
  color: #f1f1f1;
}

aside{
  height: 350px;
  width: 200px;
  text-align: right;
  background-position: right;
  position: center;
  }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 135%;
}


.content{
  display: flex;
}
footer{
  height:5px;
  width: 750px;
  margin: auto;
  font-size: 100%;
  text-align: inherit;
  table-layout: fixed;
  background-color: #068506;
}

.container{
  
}
@media (min-width:600px) {
  .container{
    column count: 2
  }
}

@media screen and (max-width: 500px) {
  h1{
    80%;
  }  
}

