body{
  margin:100px ;
 background-color: #cccccc;
background-image: url("https://videohive.img.customer.envatousercontent.com/files/244127498/BinaryCicuit_00110Grn_p.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=b2cf0e928592d69906966dcabb2fe8a5");
background-size: cover ;
background-position: center ; 
background: linear-gradient(rgba(0,0,0,0),#000),url("https://videohive.img.customer.envatousercontent.com/files/244127498/BinaryCicuit_00110Grn_p.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=b2cf0e928592d69906966dcabb2fe8a5");
background-origin: 300px ; 
}

header{
  height:130px ;
  width: 1015px ;
  margin: auto ;
  font-size: 90% ;
 }

.text{
  text-align: center;
  color: #fff;
  font-family: Georgia, "Times new Roman", serif;
  font-size: 1cm;
}
article{
  height:5px ;
  width: 750px ;
  margin: auto ;
  margin-top: 10px ;
  font-size: 40% ;
  color: white;
  background-color: #068506;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #f7f5f5;
  display: block;
}
.sidenav a:hover {
  color: #f1f1f1;
}

aside{
  height: 400px ;
  width: 200px ;
  text-align: right ;
  background-position: right ;
}

.content{
  display: flex;
}
footer{
  height:5px ;
  width: 750px ;
  margin: auto ;
  font-size: 75% ;
  text-align: center ;
  table-layout: fixed ;
  background-color: #068506;
 
  
}


