body{
  margin:175px ;
  background-color: cyan ;
background-image: url("https://videohive.img.customer.envatousercontent.com/files/244127498/BinaryCicuit_00110Grn_p.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=b2cf0e928592d69906966dcabb2fe8a5");
background-size: cover ;
background-position: center ; 
background: linear-gradient(rgba(0,0,0,0),#000),url("https://videohive.img.customer.envatousercontent.com/files/244127498/BinaryCicuit_00110Grn_p.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=b2cf0e928592d69906966dcabb2fe8a5");
}

header{
  height:130px ;
  width: 1015px ;
  font-size: 2cm ;
 }

.text{
  text-align: center;
  color: #fff;
  font-family: Georgia, "Times new Roman", serif;
  font-size: 1cm;
}
article{
  height:400px ;
  width: 700px ;
  font-size: 70% ;
  background-color: yellow ;
  color: #000 ;
}
sidenav{
  height: 100%; 
  width: 200px; 
  position: left;
  z-index: 1;
  top: 0; 
  left: 3;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 20px; 
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #f7f5f5;
  display: block;
}
.sidenav a:hover {
  color: #f1f1f1;
}


aside{
  height: 400px ;
  width: 200px ;
  background-color: red ;
  text-align: right ;
  background-position: right ;
}

.content{
  display: flex;
}
footer{
  height:120px ;
  width: 1050px ;
  background-color: blue;
  font-size: 175% ;
  text-align: center ;
}
